.news {
    width: 340px;
    display: flex;
    flex-direction: column;
}
.image {
    width: 340px;
    height: 190px;
    border-radius: 10px;
}
.title {
    font-size: 20px;
    font-weight: bolder;
    padding-top: 10px;
    padding-bottom: 10px;
}
.views {
    font-size: 14px;
    color: #C56A30;
}