body {
  font-family: 'Montserrat', sans-serif;
  background-color: #8A8785;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.profile-card {
  width: 420px;
  background: white;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.header {
  position: relative;
}

.background {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.user-info {
  position: absolute;
  bottom: 25px;
  left: 20px;
  right: 0;
  /* text-align: center; */
  display: flex;
  align-items: center;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.infor {
    padding-left: 10px;
    padding-bottom: 10px;
}

.name {
  font-size: 18px;
  font-weight: 700;
  color: white;
}

.major {
  margin: 0;
  color: white;
  font-size: 14px;
}

.stat-row {
    padding: 5px 20px 5px 20px;
  display: flex;
  justify-content: space-between;
  font-weight: lighter;
  color: #444;
  border-bottom: 1px solid #8EB6C8;
  display: flex;
  align-items: center;
}

.badge {
  padding: 3px 12px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

.badge.red    { background-color: #e74c3c; }
.badge.cyan   { background-color: #1abc9c; }
.badge.green  { background-color: #2ecc71; }
.badge.yellow { background-color: #f1c40f; }
.badge.purple { background-color: #9b59b6; }
