body {
  font-family: 'Montserrat', sans-serif;
  background: #f4f8fd;
  margin: 0;
  padding: 40px;
}
.card-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
.user-card {
  background: white;
  width: 240px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  text-align: center;
  padding-bottom: 10px;
  box-shadow: 5px 5px #E8EBF1;
}
.avatar {
  width: 85%;
  height: 200px;
  object-fit: cover;
  padding-top: 15px;
}
.user-card h2 {
  font-size: 14px;
  margin: 10px 0 4px;
  font-weight: 700;
  color: gray;
}
.user-card .role {
  font-size: 13px;
  color: gray;
  margin-bottom: 12px;
}

/* Info list */
.info-list {
  list-style: none;
  padding: 0 20px;
  margin-bottom: 10px;
}
.info-list li {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  padding: 6px 0;
  color: #555;
  border-bottom: 1px solid #eee;
}

.icon {
    margin-right: 5px;
    width: 16px;
    height: 100%;
}

/* Email & Phone Boxes */
.box {
  margin: 15px 20px;
  padding: 20px;
  color: white;
  font-size: 13px;
  text-align: left;
  box-shadow: 5px 5px #F4F4F4;
}
.box .label {
  font-weight: 700;
  margin-bottom: 8px;
}
.box .value {
  font-weight: 400;
  word-break: break-all;
}

/* Colors */
.red    { background: #F75354; }
.green  { background: #51D566; }
.blue   { background: #31C8DD; }
.navy   { background: #609BEC; }
.orange { background: #F78153; }
.yellow { background: #FCD518; }
.purple { background: #CB79E7; }
.pink   { background: #FE60E8; }
