.product {
    width: 240px;
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

.imageContainer {
    width: 240px;
    height: 190px;
    position: relative;
    overflow: hidden;
}

.image {
    width: 240px;
    height: 190px;
    border-radius: 10px;
}

.title {
    font-size: 18px;
    font-weight: bolder;
    padding-top: 10px;
    padding-bottom: 10px;
}

.price {
    font-size: 18px;
    font-weight: bold;
    color: red;
}

.delete {
    width: 20px;
    height: 20px;
    border-radius: 25px;
    /* border: none; */
    background-color: #FF6700;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    right: 0px;
    color: white;
}