.likeButtonContainer {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 300px;
    padding: 10px 10px;
    background-color: #a6d5d4;
}

.likeButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.likeText {
    margin-left: 8px;
}